---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <article>
    <h1>Whoami</h1>
    <p>
      I'm a Solutions Architect at <a href='https://herodevs.com/'>HeroDevs</a>,
      specializing in End of Life products, brownfield applications, and the
      Angular framework.
    </p>
    <p>
      I live in Memphis, TN with my wife, two children, and two dogs. In my free
      time I love watching the Memphis Grizzlies and reading science fiction
      books.
    </p>

    <p>
      My passion for coding began at a legal tech company shortly after
      graduating from law school. I started there as an attorney, but picked up
      bits and pieces of coding skills from several programmers I worked with.
      The more I programmed, the more I loved it. I started with simple excel
      macros to speed up repetitive tasks for a projects. Then I build custom
      queries to sift through thousands of documents much more efficiently.
    </p>
    <p>
      At a certain point, I knew it was time to pull the trigger and give
      programming a real shot. So, I enrolled in the
      <a
        href='https://flatironschool.com/courses/coding-bootcamp/'
        target='_blank'>Flatiron</a
      > immersive software engineering bootcamp. This bootcamp was the experience
      of a lifetime. It was the inaugural cohort in the recently opened Atlanta campuse,
      which gave every day a sense of vitality and excitement. Over the course of
      several months I learned JavaScript, React, Redux, Ruby, and Rails. I also
      conducted pair programming and practiced agile software development.
    </p>
    <p>
      After graduating from Flatiron, I moved to Memphis, TN and got to work
      building Angular applications for enterprise clients.
    </p>
  </article>
</BaseLayout>
