---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <article>
    <h1>Whoami</h1>
    <p>
      I'm a Senior Engineer at <a href='https://herodevs.com/'>HeroDevs</a>,
      where I'm building out our Product Security Incident Response Team (PSIRT).
      My current focus is building a product security platform to help teams
      manage vulnerabilities in end-of-life open-source software.
    </p>
    <p>
      I live in Memphis, TN with my wife, two children, and two dogs. In my free
      time I love watching the Memphis Grizzlies, reading science fiction
      books, and building a <a href='/treehouse'>treehouse</a> in the backyard.
    </p>

    <h2>How I Got Here</h2>
    <p>
      My path to engineering started at a legal tech company shortly after
      graduating from law school. I started there as an attorney, but picked up
      bits and pieces of coding skills from several programmers I worked with.
      The more I programmed, the more I loved it. I started with simple Excel
      macros to speed up repetitive tasks. Then I built custom queries to sift
      through thousands of documents much more efficiently.
    </p>
    <p>
      At a certain point, I knew it was time to give programming a real shot. I
      enrolled in the
      <a
        href='https://flatironschool.com/courses/coding-bootcamp/'
        target='_blank'>Flatiron</a
      > immersive software engineering bootcamp &mdash; the inaugural cohort at
      the recently opened Atlanta campus. Over the course of several months I
      learned JavaScript, React, Redux, Ruby, and Rails. I also conducted pair
      programming and practiced agile software development.
    </p>
    <p>
      After graduating from Flatiron, I moved to Memphis and spent several years
      building Angular applications for enterprise clients. That work led me to
      HeroDevs, where I've gone from solutions architecture to leading
      engineering efforts on our product security platform.
    </p>
  </article>
</BaseLayout>

<style>
  article {
    max-width: 720px;
  }
  h2 {
    margin-top: 2em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--border);
  }
</style>
