---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title='About Me'
  description='Lorem ipsum dolor sit amet'
  pubDate={new Date()}
>
  <article>
    <p>
      I live in Memphis, TN with my wife, two children, and two dogs. I work at <a
        href='https://herodevs.com/'>HeroDevs</a
      > as a Senior Angular Engineer. In my free time I love watching the Memphis
      Grizzlies and reading science fiction books.
    </p>
    <p>
      My passion for coding began at a legal tech company in Atlanta, GA. I
      worked there as an attorney but picked up bits and pieces of coding skills
      from programmers at the company.
    </p>
    <p>
      In 2018, I enrolled in Flatiron's immersive software engineering bootcamp.
      I learned JavaScript, React, Redux, Ruby, and Rails. I also conducted pair
      programming and practiced agile software development.
    </p>
    <p>
      After graduating from Flatiron I moved to Memphis, TN. I joined Ubiquisoft
      Technologies as a frontend developer and built Angular applications for
      enterprise clients.
    </p>
  </article>
</Layout>
