---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const recentPosts = (await getCollection('blog'))
  .filter((p) => p.data.pubDate)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<BaseLayout>
  <h1>Hi, I'm Ed Ezekiel 👋</h1>
  <p>
    I'm a software engineer and former attorney. Welcome to my web development
    digital garden.
  </p>
  <h3>Recent Posts</h3>
  <ul>
    {
      recentPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>,{' '}
          <FormattedDate date={post.data.pubDate} />
        </li>
      ))
    }
  </ul>
  <h3>Speaking</h3>
  <ul>
    <li>
      <a
        href='https://www.meetup.com/angularcommunity/events/298226033/'
        target='_blank'>Angular Community Meetup</a
      >, January 23rd, 2024
    </li>
  </ul>
</BaseLayout>
